@import '../../styles/colors.scss';

.CityPicker {
  position: relative;

  #city-picker {
    width: 350px;
    height: 30px;
    padding-left: 40px;
    border-radius: 0;
    border: 1px solid $cl-silver;
  }

  img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 10px;
  }

  &__bottomPanel {
    position: absolute;
    width: 100%;
  }
}