@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';


.CityPicker {
  position: relative;
  margin-top: 50px;

  #city-picker {
    width: 350px;
    height: 30px;
    padding-left: 40px;
    border-radius: 0;
    border: 1px solid $cl-silver;
  }

  img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 10px;
  }

  &__bottomPanel {
    position: absolute;
    width: 100%;
  }

  &__error {
    color: $cl-crimson;
    font-size: $size-12;
    border-right: 1px solid $cl-silver;
    border-left: 1px solid $cl-silver;
    border-bottom: 1px solid $cl-silver;
    padding: 16px 0;

    p {
      margin: 0;
    }
  }
}