@import '../../styles/colors.scss';

.CityPicker {
  position: relative;

  #city-picker {
    width: 400px;
    height: 30px;
    padding-left: 40px;
    border-radius: 0;
    border: 1px solid $cl-silver;
  }
}